<div class="index-question">
  <p>{{#link-to 'question'}}<strong>{{question.question}}</strong>{{/link-to}} - {{question.author}}</p>
    <button {{action 'delete' question}}>Delete Rental</button>
</div>
