<div class="index-question">
  <p>{{#link-to 'question' question.id}}<strong>{{question.question}}</strong>{{/link-to}} - {{question.author}}</p>
  <!-- <button {{action 'delete' answer}}>Delete Answer</button> -->
</div>
