<div class="rental-detail">
  <h3>{{question.author}}</h3>
  <h4>{{question.content}}</h4>
  <p><strong>Notes:</strong>   {{question.notes}}</p>

  <button {{action 'delete' question}}>Delete</button>
</div>
