<div class="container">
  <div class="question-details">
    <h2>{{model.question}}</h2>

    {{question-details question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer"}}
    <br>
    {{update-question question=model update="update"}}
  </div>
  <br>
  <div class="answers-display">

    {{new-answer saveAnswer="saveAnswer" question=model}}
  </div>
</div>
